[submodule "Thor"]
	path = Thor
	url = https://github.com/brandonbraun653/Thor.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/stm32hal_f4"]
	path = lib/stm32hal_f4
	url = https://github.com/brandonbraun653/STM32HAL_F4.git
[submodule "lib/stm32hal_f7"]
	path = lib/stm32hal_f7
	url = https://github.com/brandonbraun653/STM32HAL_F7.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = https://github.com/brandonbraun653/Chimera.git
